
<form>
<h1>Team Name: <%= @team_name %> </h1>
<h1>Coach: <%= @coach %> </h1>
<h1>Point Guard: <%= @point %> </h1>
<h1>Shooting Guard: <%= @shoot %> </h1>
<h1>Power Forward: <%= @power %> </h1>
<h1>Small Forward: <%= @small %> </h1>
<h1>Center: <%= @center %> </h1>
</form>

